<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="image/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  <meta charset="utf-8" />
  <script src="https://kit.fontawesome.com/ba6a4ac61c.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= title %> — Spree</title>
  <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="brand">
                <img src="/image/Spree Logo.png" alt="">
                <a href="/">Spree</a>
            </div>

            <nav class="nav">
                <div class="nav-user">

                    <% if (locals.Authenticated) { %>
                        <button class="user-menu-toggle">
                            <p id="username-display">Hi, <%= user.username %> <i class="fa-solid fa-angle-down"></i></p>
                        </button>
                    <% } else { %>
                        <a href="/login"><p id="username-display">SignUp / Login</p></a>
                    <% } %>
                </div>

                <a href="/cart" id="cart-link" class="nav-cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Cart (<span id="cart-count"><%= totalCartCount %></span>)
                </a>
            </nav>
        </div>
    </header>

    <!-- User dropdown -->
     <% if (locals.Authenticated) { %>
        <% if(user.auth == "admin") { %>
    <section class="user-menu" style="display: none;" id="user-menu">
          
            <div>Bal: $<%= user.balance %></div>
            <div class="my-account">My Account</div>
            <div class="user-cart">
                <a href="/cart" id="cart-link" class="nav-cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Cart (<span id="cart-count"><%= totalCartCount %></span>)
                </a>
            </div>
            <div class="orders">Orders</div>
            <div class="inbox">Inbox</div><hr>
            <% if(locals.user.auth == "admin") { %>
                    <div class="admin-office">Admin's Office</div><hr>
                <% } %>
            <a href="/logout"><div class="logout">Logout</div></a>
        
    </section>
    <% }else{ %>
    <section class="user-menu-user" style="display: none;" id="user-menu">
          
            <div>Bal: $<%= user.balance %></div>
            <div class="my-account">My Account</div>
            <div class="user-cart">
                <a href="/cart" id="cart-link" class="nav-cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Cart (<span id="cart-count"><%= totalCartCount %></span>)
                </a>
            </div>
            <div class="orders">Orders</div>
            <div class="inbox">Inbox</div><hr>
            <a href="/logout"><div class="logout">Logout</div></a>
        
    </section>

    <% } %>
    <% } %>
  <main class="page">
    <h2 class="section"><%= title %></h2>

    <section class="layout">
      
    <div  class="carts-grid">
      <% checkoutProducts.forEach(product => { %>
        <div class="checkout-item" data-initial-type="<%= product.product_group %>" data-name="<%= product.product_name %>" data-price="<%= product.product_price %>" data-id="<%= product.product_id %>" >
          <img src="/image/<%= product.product_name %>.jpeg" alt="<%= product.product_name %>" />
          
          <div class="cart-info">
            <h3 class="product-name" data-id="<%= product.product_id %>"><%= product.product_name %></h3>
          
            <div class="cart-bottom">
              <p class="product-price">$<%= product.product_price %></p>
              <p class="cart-qty">Quantity: <span class="qty"><%= product.quantity %></span></p>
              <p class="product-subtotal">Subtotal: $ <span class="subtotal"><%= parseFloat(product.subtotal).toFixed(2) %></span></p>
            </div>
          </div>
        </div>
     <% }); %>
     
      
    </div>
    <% checkoutProducts.forEach(element => { %>
    <form style="display: none;" action="/send-order" id="checkout-form" method="post">
        
      
        <input type="hidden" name="product_id" value="<%= element.product_id %>">
        <input type="hidden" name="product_name" value="<%= element.product_name %>">
        <input type="hidden" name="product_price" value="<%= element.product_price %>">
        <input type="hidden" name="quantity" value="<%= element.qty %>">
        <input type="hidden" name="sub_total" id="total" value="<%= element.subtotal %>">
      </form>
    <% }); %>
    
    

      <aside class="sidebar">
          <div class="category-box">
                    <h2>Shop by Category</h2>
                    <a class="btn category-btn" href="/bags">Shop Bags</a>
                    <a class="btn category-btn ghost" href="/cosmetics">Shop Cosmetics</a>
                    <a class="btn category-btn ghost" href="/jewelry">Shop Jewelry</a>
          </div>

  
         
       
          
          <div class="checkout-actions">
             <form action="/send-order" method="post">
          <label for="address" id="address_label">Address:</label>
          <input type="text" id="address" name="address" required>
            <p>Total Cost: $<span id="totalPrice"><%= totalPrice %></span></p>
            <button type="submit" id="submit" class="btn">Place Order</button>
          </form>
          </div>          
    </section>
      </aside>

         
    

  </main>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>